<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Admin-page</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/H01.css">
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
		<link rel="stylesheet" type="text/css" href="css/A01.css">
	</head>

	<body>
		<div id="AD-HEADER"></div>
		<div class="ad-wrapper">
			<div class="ad-left-content"></div>
			<div class="ad-right-content">
			</div>
		</div>
		<!-- day la javascript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/layout.js"></script>
    	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    	<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	</body>
</html>