<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/H01.css">
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
	</head>
	<body>
		<div id="MY-HEADER">
			<div id="MY-LOGO">
				<li><a class="header-logo" href="#">Du Lich Viet</a></li>
				<li><span>Vietnam in your eye</span></li>
			</div>
			<div id="MY-SEARCH">
				<input type="text" placeholder="Hãy gõ từ khóa vào đây!">
				<button type="button" class="search-button">Tìm kiếm</button>
			</div>
			<div id="MY-LOGIN">
				<!-- <div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng ký</button>
					<div id="popover-signup-content" class="popover-content hide">
						<form class="form-horizontal" method="post">
					    	<div class="control-group">
					        	<label class="control-label" for="inputEmail">Email</label>
					        	<div class="controls">
					            	<input type="text" class="my-text-form" placeholder="Example@gmail.com" autofocus>
					        	</div>
					    	</div>
							<div class="control-group">
						        <label class="control-label" for="inputPassword">Password</label>
						       	<div class="controls">
						            <input type="password" class="my-text-form" placeholder="Password">
						        </div>
						    </div>
						    <div class="control-group">
						        <label class="control-label" for="inputPassword">Confirm Password</label>
						        <div class="controls">
						            <input type="password" class="my-text-form" placeholder="Confirm password">
						        </div>
						    </div>
						    <div class="control-group">
						        <div class="controls">
						            <button class="login-button" type="submit"> Đăng ký </button>
						        </div>
						    </div>
					    </form>
					</div>
				</div>
				<div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng nhập</button>
					<div id="popover-login-content" class="popover-content hide">
						<form class="form-horizontal"  method="post">
							<div class="controls">
								<input class="my-text-form" type="text" name="username" placeholder="Email" autofocus>
							</div>
							<div class="controls">
	            	   		<input class="my-text-form" type="password" name="password" placeholder="Mật khẩu">
	            	       	</div>
	            	       	<div class="checkbox">
							    <label>
							      	<input type="checkbox"><span>Remember me</span>
							    </label>
							</div>
				            <button class="login-button" type="submit"> Đăng Nhập </button>
				        </form>
					</div>
				</div> -->
				<div class="wrap-ava">
					<a class="one" href="#">
						<span class="glyphicon glyphicon-user"></span>
						<!-- <img class="my-ava" src="images/ava_demo.png" width="30px" height="30px"> -->
						<span class="my-username">...</span>
					</a>
					<div class="my-tooltip" title="Account-setting" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></div>
					<div class="my-tooltip" title="Logout" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></div>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div id="MY-CONTENT">
				<div class="left-content">
					<div class="my-window">
						<div class="my-header">Hãy nhập thông tin cá nhân vào đây</div>
						<div class="my-content">
						<div class="span6">
                				<div class="wrap-form">
                				<div id="legend">
			      					<legend class="form-title">Thông tin cá nhân</legend>
			    				</div>
                					<form class="form-horizontal my-form" role="form">
  										<div class="form-group">
    										<label for="inputEmail3" class="col-sm-4 control-label">First Name<span class="my-flag">*</span></label>
    										<div class="col-sm-8">
      											<input type="text" class="form-control" id="FirstName" placeholder="First Name">
    										</div>
										</div>
										<div class="form-group">
    										<label for="inputEmail3" class="col-sm-4 control-label">Last Name<span class="my-flag">*</span></label>
    										<div class="col-sm-8">
      											<input type="text" class="form-control" id="LastName" placeholder="Last Name">
    										</div>
										</div>
										<div class="form-group">
    										<label for="inputEmail3" class="col-sm-4 control-label">Username<span class="my-flag">*</span></label>
    										<div class="col-sm-8">
      											<input type="text" class="form-control" id="Username" placeholder="Username">
    										</div>
										</div>
										<div class="form-group">
    										<label for="inputEmail3" class="col-sm-4 control-label">Phone Number</label>
    										<div class="col-sm-8">
      											<input type="text" class="form-control" id="Phone" placeholder="Phone Number">
    										</div>
										</div>
										<div class="form-group form-inline">
    										<label for="inputEmail3" class="col-sm-4 control-label">Sex<span class="my-flag">*</span></label>
    										<div class="col-sm-4">
      											<div class="radio my-radio">
													<label>
													    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Male
													</label>
												</div>
													<div class="radio my-radio">
													<label>
													    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Female
													</label>
												</div>
    										</div>
										</div>
										<div class="form-group form-inline">
    										<label for="inputEmail3" class="col-sm-4 control-label">Birth Day</label>
    										<div class="col-sm-8">
      											<input type="text" class="form-control" id="BirthDay" placeholder="dd/m/yyyy">
    										</div>
										</div>
										<div class="form-group form-inline">
    										<label for="inputEmail3" class="col-sm-4 control-label">Upload Avatar</label>
    										<div class="col-sm-8">
    										<span class="btn btn-success fileinput-button">
										        <span class="glyphicon glyphicon-plus"></span>
										        <span>Select files...</span>
										        <input id="fileupload" type="file" name="files[]" multiple="">
										    </span>
    										</div>
										</div>
										<div class="form-group form-inline">
    										<label for="inputEmail3" class="col-sm-4 control-label"></label>
    										<div class="col-sm-8">
      											<button type="button" class="submit-button">Submit</button>
    										</div>
										</div>

				                        <div class="alert alert-info">
				                            <button class="close" data-dismiss="alert" type=
				                            "button">×</button> <strong>Confirmation:</strong>
				                            Hãy điền thông tin cá nhân của bạn vào form, những form có dấu (*) là bắt buộc
				                            email.<br>
				                            Thank you for your registration.
				                        </div>
				                        <div class="alert alert-success">bao thanh cong thi go vao day</div>
										<div class="alert alert-warning">bao loi thi go bao day</div>
										<div class="alert alert-danger">...</div>
				                    </form>
				                </div>
				            </div>
						</div>
					</div>
				</div>
				<div class="right-content">
					<div class="my-window">
						<div class="my-header">Quảng cáo - 1</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div class="my-window">
						<div class="my-header">Quảng cáo - 2</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div id="TAG-CLOUD" class="my-window">
						<div class="my-header">Quảng cáo - 3</div>
						<div class="my-content">khong co gi</div>
					</div>
				</div>
			</div>
			<div id="MY-FOOTER">
				<div class="wrap-footer">
					<div class="col-1">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Bắc</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-2">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Trung</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-3">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Nam</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="ft-list">
							<li class="ft-title">Thống kê Website</li>
							<li class="my-li">Số thành viên:<span>12345</span></li>
							<li class="my-li">Số bài post của thành viên:<span>123456</span></li>
							<li class="my-li">Số bài post của admin:<span>123</span></li>
							<li class="my-li">Số lượng review:<span>696969</span></li>
						</ul>
					</div>
					<div class="col-5">
						<span class="ft-title">Nhập email để theo dõi chúng tôi</span>
						<div class="ft-content">
							<input class="default-text-form" type="text" placeholder="Nhập email vào đây"> 
							<button class="default-button">Follow</button>
						</div>
					</div>
				</div>
				<div id="UptoTop" class="go-top my-tooltip" title="Trở về đầu trang" rel="tooltip"><span class="glyphicon glyphicon-circle-arrow-up"></span></div>
				<div class="copyright">
					<span class="ft-text">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013-2014. All right reserved by VTH2</span>
				</div>
			</div>
		</div>
		<!-- day la javascript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/layout.js"></script>
    	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    	<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	</body>


</html>