<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/H01.css">
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
	</head>
	<body>
		<div id="MY-HEADER">
			<div id="MY-LOGO">
				<li><a class="header-logo" href="#">Du Lich Viet</a></li>
				<li><span>Vietnam in your eye</span></li>
			</div>
			<div id="MY-SEARCH">
				<input type="text" placeholder="Hãy gõ từ khóa vào đây!">
				<button type="button" class="search-button">Tìm kiếm</button>
			</div>
			<div id="MY-LOGIN">
				<div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng ký</button>
					<div id="popover-signup-content" class="popover-content hide">
						<form class="form-horizontal" method="post">
					    	<div class="control-group">
					        	<label class="control-label" for="inputEmail">Email</label>
					        	<div class="controls">
					            	<input type="text" class="my-text-form" placeholder="Example@gmail.com" autofocus>
					        	</div>
					    	</div>
							<div class="control-group">
						        <label class="control-label" for="inputPassword">Password</label>
						       	<div class="controls">
						            <input type="password" class="my-text-form" placeholder="Password">
						        </div>
						    </div>
						    <div class="control-group">
						        <label class="control-label" for="inputPassword">Confirm Password</label>
						        <div class="controls">
						            <input type="password" class="my-text-form" placeholder="Confirm password">
						        </div>
						    </div>
						    <div class="control-group">
						        <div class="controls">
						            <button class="login-button" type="submit"> Đăng ký </button>
						        </div>
						    </div>
					    </form>
					</div>
				</div>
				<div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng nhập</button>
					<div id="popover-login-content" class="popover-content hide">
						<form class="form-horizontal"  method="post">
							<div class="controls">
								<input class="my-text-form" type="text" name="username" placeholder="Email" autofocus>
							</div>
							<div class="controls">
	            	   		<input class="my-text-form" type="password" name="password" placeholder="Mật khẩu">
	            	       	</div>
	            	       	<div class="checkbox">
							    <label>
							      	<input type="checkbox"><span>Remember me</span>
							    </label>
							</div>
				            <button class="login-button" type="submit"> Đăng Nhập </button>
				        </form>
					</div>
				</div>
				<!-- <div class="wrap-ava">
					<a class="one" href="#">
						<span class="glyphicon glyphicon-user"></span> -->
						<!-- <img class="my-ava" src="images/user.png" width="30px" height="30px"> -->
						<!-- <span class="my-username">VinhDQ</span>
					</a>
					<div class="my-tooltip" title="Account-setting" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></div>
					<div class="my-tooltip" title="Logout" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></div>
				</div> -->
			</div>
		</div>
		<!-- day la phan slide bar -->
		<div id="MY-SLIDE-BAR">
			<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
		        <ol class="carousel-indicators">
		          <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
		          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
		          <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
		        </ol>
		        <div class="carousel-inner">
		          <div class="item slide-content">
		          	<div class="content-left"><a class="img-wrapper" href="#"><img src="images/l1.jpg"></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3>Nha Trang</h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành. Các di tích của người Chăm vẫn còn tại nhiều nơi ở Nha Trang. Nha Trang được Thủ tướng chính phủ Việt Nam công nhận là đô thị loại 1 vào ngày 22 tháng 4 năm 2009. Đây là một trong các đô thị loại 1 trực thuộc tỉnh của Việt Nam. Nha Trang được mệnh danh là hòn ngọc của biển Đông,...</p>
		            <button class="default-button" type="button">Xem thêm</button>
		          	</div>
		          </div>
		          <div class="item slide-content">
		            <div class="content-left"><a class="img-wrapper" href="#"><img src="images/l2.jpg"></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3>Nha Trang</h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành. Các di tích của người Chăm vẫn còn tại nhiều nơi ở Nha Trang. Nha Trang được Thủ tướng chính phủ Việt Nam công nhận là đô thị loại 1 vào ngày 22 tháng 4 năm 2009. Đây là một trong các đô thị loại 1 trực thuộc tỉnh của Việt Nam. Nha Trang được mệnh danh là hòn ngọc của biển Đông,...</p>
		            <button class="default-button" type="button">Xem thêm</button>
		          	</div>
		          </div>
		          <div class="item slide-content active">
		            <div class="content-left"><a class="img-wrapper" href="#"><img src="images/l4.jpg"></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3>Nha Trang</h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành. Các di tích của người Chăm vẫn còn tại nhiều nơi ở Nha Trang. Nha Trang được Thủ tướng chính phủ Việt Nam công nhận là đô thị loại 1 vào ngày 22 tháng 4 năm 2009. Đây là một trong các đô thị loại 1 trực thuộc tỉnh của Việt Nam. Nha Trang được mệnh danh là hòn ngọc của biển Đông,...</p>
		            <button class="default-button" type="button">Xem thêm</button>
		          	</div>
		          </div>
		        </div>
		        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
		          <span class="glyphicon glyphicon-chevron-left"></span>
		        </a>
		        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
		          <span class="glyphicon glyphicon-chevron-right"></span>
		        </a>
		    </div>
		</div>
		<!-- day la phan noi dung -->
		<div class="wrapper">
			<div id="MY-CONTENT">
				<div class="my-window">
					<div class="my-header">
						<ul class="nav nav-tabs">
						  <li class="active"><a  data-toggle="tab" href="#MIENBAC">Top Miền Bắc</a></li>
						  <li><a data-toggle="tab" href="#MIENTRUNG">Top Miền Trung</a></li>
						  <li><a data-toggle="tab" href="#MIENNAM">Top Miền Nam</a></li>
						</ul>
					</div>
					<div id="description" class="tab-content my-content">
				        <div id="MIENBAC" class="tab-pane fade in active">
				        	<ul class="my-list-1">
					        	<li>
					        		<a href="#"><h4>Nha Trang</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l1.jpg">
					        		</a>
					        		<a href="#"><h5>Nha Trang resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Phan Thiết</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l2.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Hạ Long</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l3.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Ninh Thuận</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l4.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Nha Trang</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l1.jpg">
					        		</a>
					        		<a href="#"><h5>Nha Trang resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Phan Thiết</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l2.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Hạ Long</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l3.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        	<li>
					        		<a href="#"><h4>Ninh Thuận</h4></a>
					        		<a class="img-wrapper" href="#">
					        			<img class="img-box" src="images/l4.jpg">
					        		</a>
					        		<a href="#"><h5>Phan Thiết resort</h5></a>
					        		<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
					        		<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở...
					        		<a href="#"><img src="images/see_more3.png"></a>
					        		</p>
					        	</li>
					        </ul>
				        </div>
				        <div id="MIENTRUNG" class="tab-pane fade">
				        	<p>day la top mien trung</p>
				        </div>
				        <div id="MIENNAM" class="tab-pane fade">
				        	<p>day la top mien nam</p>
				        </div>
					</div>
				</div>
				<div class="left-content">
					<div class="my-window">
						<div class="my-header">Các POST của thành viên mới đăng</div>
						<div class="my-content">
							<ul class="my-list-2">
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Nha Trang resort</h5></a>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l1.jpg"></a>

									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Phan Thiết resort</h5></a>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l2.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Hạ Long resort</h5></a>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l3.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Ninh Thuận resort</h5></a>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l4.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="right-content">
					<div class="my-window">
						<div class="my-header">Google map</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div class="my-window">
						<div class="my-header">Bạn muốn đặt phòng?</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div id="TAG-CLOUD" class="my-window">
						<div class="my-header">Các Tag liên quan</div>
						<div class="my-content">
							<div class="col-1">
								<ul class="my-tag">
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
								</ul>
							</div>
							<div class="col-2">
								<ul class="my-tag">
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="MY-FOOTER">
				<div class="wrap-footer">
					<div class="col-1">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Bắc</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-2">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Trung</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-3">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Nam</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="ft-list">
							<li class="ft-title">Thống kê Website</li>
							<li class="my-li">Số thành viên:<span>12345</span></li>
							<li class="my-li">Số bài post của thành viên:<span>123456</span></li>
							<li class="my-li">Số bài post của admin:<span>123</span></li>
							<li class="my-li">Số lượng review:<span>696969</span></li>
						</ul>
					</div>
					<div class="col-5">
						<span class="ft-title">Nhập email để theo dõi chúng tôi</span>
						<div class="ft-content">
							<input class="default-text-form" type="text" placeholder="Nhập email vào đây"> 
							<button class="default-button">Follow</button>
						</div>
					</div>
				</div>
				<div id="UptoTop" class="go-top my-tooltip" title="Trở về đầu trang" rel="tooltip"><span class="glyphicon glyphicon-circle-arrow-up"></span></div>
				<div class="copyright">
					<span class="ft-text">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013-2014. All right reserved by VTH2</span>
				</div>
			</div>
		</div>
		<!-- day la javascript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/layout.js"></script>
    	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    	<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	</body>


</html>