<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bootstap example</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<div id="MY-MENU" class="navbar navbar-inverse navbar-static-top">
			<li id="MY-LOGO">
				
			</li>
			<li id="MY-SEARCH">
				<input type="text" placeholder="hãy gõ từ khóa vào đây!">
				<button type="button">Tìm kiếm</button>
			</li>
			<li>
				<button type="button">Đăng ký</button>
				<button type="button">Đăng nhập</button>
			</li>
		</div>
		<div id="MY-SLIDE-BAR"></div>
		<div class="warpper">
			<div id="MY-CONTENT"></div>
			<div id="MY-FOOTER"></div>
		</div>
		<!-- day la javascript -->
		<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</body>


</html>