<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Post-detail</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/H01.css">
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
	</head>
	<body>
		<div id="MY-HEADER">
			<div id="MY-LOGO">
				<li><a class="header-logo" href="#">Du Lich Viet</a></li>
				<li><span>Vietnam in your eye</span></li>
			</div>
			<div id="MY-SEARCH">
				<input type="text" placeholder="Hãy gõ từ khóa vào đây!">
				<button type="button" class="search-button">Tìm kiếm</button>
			</div>
			<div id="MY-LOGIN">
				<div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng ký</button>
					<div id="popover-signup-content" class="popover-content hide">
						<form class="form-horizontal" method="post">
					    	<div class="control-group">
					        	<label class="control-label" for="inputEmail">Email</label>
					        	<div class="controls">
					            	<input type="text" class="my-text-form" placeholder="Example@gmail.com" autofocus>
					        	</div>
					    	</div>
							<div class="control-group">
						        <label class="control-label" for="inputPassword">Password</label>
						       	<div class="controls">
						            <input type="password" class="my-text-form" placeholder="Password">
						        </div>
						    </div>
						    <div class="control-group">
						        <label class="control-label" for="inputPassword">Confirm Password</label>
						        <div class="controls">
						            <input type="password" class="my-text-form" placeholder="Confirm password">
						        </div>
						    </div>
						    <div class="control-group">
						        <div class="controls">
						            <button class="login-button" type="submit"> Đăng ký </button>
						        </div>
						    </div>
					    </form>
					</div>
				</div>
				<div class="popover-markup">
					<button type="button" class="pop-btn search-button">Đăng nhập</button>
					<div id="popover-login-content" class="popover-content hide">
						<form class="form-horizontal"  method="post">
							<div class="controls">
								<input class="my-text-form" type="text" name="username" placeholder="Email" autofocus>
							</div>
							<div class="controls">
	            	   		<input class="my-text-form" type="password" name="password" placeholder="Mật khẩu">
	            	       	</div>
	            	       	<div class="checkbox">
							    <label>
							      	<input type="checkbox"><span>Remember me</span>
							    </label>
							</div>
				            <button class="login-button" type="submit"> Đăng Nhập </button>
				        </form>
					</div>
				</div>
				<!-- <div class="wrap-ava">
					<a class="one" href="#">
						<span class="glyphicon glyphicon-user"></span> -->
						<!-- <img class="my-ava" src="images/user.png" width="30px" height="30px"> -->
						<!-- <span class="my-username">VinhDQ</span>
					</a>
					<div class="my-tooltip" title="Account-setting" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></div>
					<div class="my-tooltip" title="Logout" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></div>
				</div> -->
			</div>
		</div>
		<!-- day la phan noi dung -->
		<div class="wrapper">
			<div class="left-menu-fixed">
				<ul class="list-menu">
					<li><a href="#"><span class="glyphicon glyphicon-comment"></span>Comment</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-star"></span>Đánh giá</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>Follow</a></li>
				</ul>
			</div>
			<div id="MY-CONTENT">
				<div class="left-content" style="width: 70%;">
					<div id="POST-DETAIL" class="my-window">
						<div class="my-content">
							<div class="content-init">
								noi dung post nhet vao day nhe!
							</div>
							<div id="POSTED-AUTHOR" class="content-init">
								<p class="wrap-ava-1"><a href="#"><img src="images/ava_demo.png" width="100%" height="100%"></a></p>
								<div class="wrap-more-info">
									<p>
										<span class="glyphicon glyphicon-user"></span>Posted by <a class="author" href="#">VinhDQ</a>
										<span class="glyphicon glyphicon-calendar"></span>Sept 16th, 2012 at 4:20 pm 
										| <span class="glyphicon glyphicon-comment"></span>2 Comments 
										| <span class="glyphicon glyphicon-eye-open"></span>10 Reviews
									</p>
									<p>
										Tags:
		    							<a href="#"><span class="label label-info">Nha Trang</span></a>
										<a href="#"><span class="label label-info">Vung Bien</span></a>
										 | Điểm đánh giá: <span class="vote-mark">(4.3/5) </span>
										 <span class="glyphicon glyphicon-star my-color-2"></span>
			          					<span class="glyphicon glyphicon-star my-color-2"></span>
			          					<span class="glyphicon glyphicon-star my-color-2"></span>
			          					<span class="glyphicon glyphicon-star my-color-2"></span>
			          					<span class="glyphicon glyphicon-star"></span>
		   							</p>
	   							</div>
							</div>
							<div id="CMT-AREA" class="content-init">
							<ul class="cmt-list">
								<li class="cmt-left">
									<p class="wrap-ava-1">
										<a class="wrap-img" href="#"><img src="images/ava_demo.png" width="100%" height="100%"></a>
									</p>
									<div class="left-bubble">
										<p><a class="author" href="#">VinhDQ</a><span class="posted-time">Hôm nay 12:04</span></p>
										<p class="cmt-content">comment vao day nhe cac ban,^^ comment vao day nhe cac ban,^^ comment vao day nhe cac ban,^^ comment vao day nhe cac ban,^^</p>
									</div>
								</li>
								<li class="cmt-right">
									<p class="wrap-ava-1">
										<a class="wrap-img" href="#"><img src="images/ava_demo.png" width="100%" height="100%"></a>
									</p>
									<div class="right-bubble">
										<p><a class="author" href="#">VinhDQ</a><span class="posted-time">Hôm nay 12:04</span></p>
										<p class="cmt-content">co that khong day hay la chem gio,=.=" co that khong day hay la chem gio,=.=" co that khong day hay la chem gio,=.="</p>
									</div>
								</li>
								<li class="cmt-left">
									<p class="wrap-ava-1">
										<a class="wrap-img" href="#"><img src="images/ava_demo.png" width="100%" height="100%"></a>
									</p>
									<div id="new-cmt-wrap" class="left-bubble">
										<p><a class="author" href="#">VinhDQ</a></p>
										<p class="cmt-content">
											<form accept-charset="UTF-8" action="" method="POST">
												<textarea class="form-control" id="NEW-COMMENT" rows="3" placeholder="Type in your message"></textarea>
												<h6 class="pull-right">320 characters remaining</h6>
					                			<button class="default-button" type="submit">Post New Comment</button>
											</form>
										</p>
									</div>
								</li>
							</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="right-content" style="width: 30%;">
					<div class="my-window">
						<div class="my-header">Google map</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div class="my-window">
						<div class="my-header">Bạn muốn đặt phòng?</div>
						<div class="my-content">khong co gi</div>
					</div>
					<div id="TAG-CLOUD" class="my-window">
						<div class="my-header">Các Tag liên quan</div>
						<div class="my-content">
							<div class="col-1">
								<ul class="my-tag">
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
								</ul>
							</div>
							<div class="col-2">
								<ul class="my-tag">
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
									<li><a href="#">Hà Nội</a><span>x 123</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="MY-FOOTER">
				<div class="wrap-footer">
					<div class="col-1">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Bắc</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-2">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Trung</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-3">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Nam</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="ft-list">
							<li class="ft-title">Thống kê Website</li>
							<li class="my-li">Số thành viên:<span>12345</span></li>
							<li class="my-li">Số bài post của thành viên:<span>123456</span></li>
							<li class="my-li">Số bài post của admin:<span>123</span></li>
							<li class="my-li">Số lượng review:<span>696969</span></li>
						</ul>
					</div>
					<div class="col-5">
						<span class="ft-title">Nhập email để theo dõi chúng tôi</span>
						<div class="ft-content">
							<input class="default-text-form" type="text" placeholder="Nhập email vào đây"> 
							<button class="default-button">Follow</button>
						</div>
					</div>
				</div>
				<div id="UptoTop" class="go-top my-tooltip" title="Trở về đầu trang" rel="tooltip"><span class="glyphicon glyphicon-circle-arrow-up"></span></div>
				<div class="copyright">
					<span class="ft-text">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013-2014. All right reserved by VTH2</span>
				</div>
			</div>
		</div>
		<!-- day la javascript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/layout.js"></script>
    	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    	<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	</body>


</html>