<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/H01.css">
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
	</head>
	<body>
		<div id="MY-HEADER">
			<div id="MY-LOGO">
				<li><a class="header-logo" href="#">Du Lich Viet</a></li>
				<li><span>Vietnam in your eye</span></li>
			</div>
			<div id="MY-SEARCH">
				<input type="text" placeholder="Hãy gõ từ khóa vào đây!">
				<button type="button" class="search-button">Tìm kiếm</button>
			</div>
			<div id="MY-LOGIN">
				<div class="wrap-ava">
					<a class="one" href="#">
						<!-- <span class="glyphicon glyphicon-user"></span> -->
						<img class="my-ava" src="images/ava_demo.png" width="30px" height="30px">
						<span class="my-username">VinhDQ</span>
					</a>
					<div class="my-tooltip" title="Write a new post" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-plus"></span></a></div>
					<div class="my-tooltip" title="My post" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-list"></span></a></div>
					<div class="my-tooltip" title="Account-setting" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></div>
					<div class="my-tooltip" title="Logout" rel="tooltip-bottom"><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></div>
				</div>
			</div>
		</div>
		<!-- day la phan noi dung -->
		<div class="wrapper">
			<div id="MY-CONTENT">
				<div class="left-content" style="width: 60%;">
					<div class="my-window">
						<div class="my-header">Các POST của thành viên mới đăng</div>
						<div class="my-content">
							<ul class="my-list-2">
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Nha Trang resort</h5></a>
										<div class="wrap-icon">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
											<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
										</div>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l1.jpg"></a>

									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Phan Thiết resort</h5></a>
										<div class="wrap-icon">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
											<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
										</div>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l2.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Hạ Long resort</h5></a>
										<div class="wrap-icon">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
											<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
										</div>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l3.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>
								<li>
									<div class="my-cell col-1">
										<a href="#"><h5>Ninh Thuận resort</h5></a>
										<div class="wrap-icon">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
											<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
										</div>
										<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
										<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
					        			<a href="#"><img src="images/see_more3.png"></a>
					        			</p>
									</div>
									<div class="my-cell col-2">
										<a href="#" class="img-wrapper"><img class="img-box" src="images/l4.jpg"></a>
									</div>
									<div class="my-tag">
										<div><a href="#">Nha Trang</a></div>
										<div><a href="#">Vung Bien</a></div>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="right-content" style="width: 40%;">
					<div class="my-window">
						<div class="my-header">Quang cao 1</div>
						<div class="my-content"></div>
					</div>
					<div class="my-window">
						<div class="my-header">Quang cao 2</div>
						<div class="my-content"></div>
					</div>
					<div class="my-window">
						<div class="my-header">Quang cao 3</div>
						<div class="my-content"></div>
					</div>
				</div>
			</div>
			<div id="MY-FOOTER">
				<div class="wrap-footer">
					<div class="col-1">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Bắc</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-2">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Trung</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-3">
						<ul class="ft-list">
							<li class="ft-title"><a href="#">Miền Nam</a></li>
							<li class="my-li"><a href="#">Hà Nội</a></li>
							<li class="my-li"><a href="#">Điện Biên</a></li>
							<li class="my-li"><a href="#">Tây Bắc</a></li>
							<li class="my-li"><a href="#">Ba Vì</a></li>
							<li class="my-li"><a href="#">Lai Châu</a></li>
							<li class="my-li"><a href="#">Cao Bằng</a></li>
							<li class="my-li"><a href="#"><span>Xem thêm...</span></a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="ft-list">
							<li class="ft-title">Thống kê Website</li>
							<li class="my-li">Số thành viên:<span>12345</span></li>
							<li class="my-li">Số bài post của thành viên:<span>123456</span></li>
							<li class="my-li">Số bài post của admin:<span>123</span></li>
							<li class="my-li">Số lượng review:<span>696969</span></li>
						</ul>
					</div>
					<div class="col-5">
						<span class="ft-title">Nhập email để theo dõi chúng tôi</span>
						<div class="ft-content">
							<input class="default-text-form" type="text" placeholder="Nhập email vào đây"> 
							<button class="default-button">Follow</button>
						</div>
					</div>
				</div>
				<div id="UptoTop" class="go-top my-tooltip" title="Trở về đầu trang" rel="tooltip"><span class="glyphicon glyphicon-circle-arrow-up"></span></div>
				<div class="copyright">
					<span class="ft-text">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013-2014. All right reserved by VTH2</span>
				</div>
			</div>
		</div>
		<!-- day la javascript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/layout.js"></script>
    	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    	<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	</body>


</html>