

	<div id="MY-CONTENT">
		<div class="wrap-content">
			<div class="left-content" style="width: 40%;">
				<div id="MEISHI" class="my-window">
					<div class="my-content">
						<a href="#"><span class="glyphicon glyphicon-cog"></span></a>
						<div>
							<span class="glyphicon glyphicon-user my-ava">
								<input type="file" name="files[]" multiple="">
							</span>
							<!-- <img class="my-ava" src="images/ava_demo.png"> -->
							<h3>VinhDQ</h3>
						</div>
						<div>
							<ul class="info-list">
								<li><span class="glyphicon glyphicon-info-sign"></span><span>Name:</span>Dang Quang Vinh</li>
								<li><span class="glyphicon glyphicon-info-sign"></span><span>Birthday:</span>13-09-1992</li>
								<li><span class="glyphicon glyphicon-info-sign"></span><span>Sex:</span>Male</li>
								<li><span class="glyphicon glyphicon-phone"></span>01649622332</li>
								<li class="about-me"><span class="glyphicon glyphicon-envelope"></span>dangquangvinh.hut@gmail.com</li>
								<li class="about-me"><span class="glyphicon glyphicon-info-sign"></span><span>About me:</span>go noi dung vao day</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="right-content" style="width: 60%;">
				<div class="my-window">
					<div class="my-content">
						
					</div>
				</div>
			</div>
		</div>
		<div class="left-content" style="width: 60%;">
			<div class="my-window">
				<div class="my-header"><span class="glyphicon glyphicon-list"></span>Các POST đã đăng gần đây</div>
				<div class="my-content">
					<ul class="my-list-2">
						<li>
							<div class="my-cell col-1">
								<a href="#"><h5>Nha Trang resort</h5></a>
								<div class="wrap-icon">
									<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
									<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
									<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
								</div>
								<div class="misc"><span class="posted-time">10/12/2013</span><span class="my-review">10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span></div>
								<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
			        			<a href="#"><img src="images/see_more3.png"></a>
			        			</p>
							</div>
							<div class="my-cell col-2">
								<a href="#" class="img-wrapper"><img class="img-box" src="images/l1.jpg"></a>

							</div>
							<div class="my-tag">
								<div><a href="#">Nha Trang</a></div>
								<div><a href="#">Vung Bien</a></div>
							</div>
						</li>
						<a href="#">Xem tất cả</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="right-content" style="width: 40%;">
			<div id="POST-FOLLOW" class="my-window">
				<div class="my-header">Các hành trình đang theo dõi</div>
				<div class="my-content">
					<ul class="follow-list">
						<li>
							<div class="wrap-icon">
								<a href="#"><span class="glyphicon glyphicon-eye-close"></span></a>
							</div>
							<h5>Chuyến đi Nha Trang</h5>
							<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
							<a href="#">xem thêm</a>
							</p>
						</li>
					</ul>
					<a href="#">Xem tất cả</a>
				</div>

			</div>
			<div class="my-window">
				<div class="my-header">Các hành trình của bạn</div>
				<div class="my-content">
					<ul class="follow-list">
						<li>
							<div class="wrap-icon">
								<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
								<a href="#myModal-1" role="button" data-toggle="modal"><span class=" glyphicon glyphicon-trash"></span></a>
							</div>
							<h5>Chuyến đi Nha Trang</h5>
							<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
							<a href="#">xem thêm</a>
							</p>
						</li>
					</ul>
					<a href="#">Xem tất cả</a>
				</div>		
		</div>
	</div>

Bạn chưa đăng nhập!
